.edit-btn{
    color: white;
    background-color: #3e7bb1;
    border: none;
    outline: none;

}
.edit-btn:hover{
    color: white;
    background-color: #155b97;
    border: none;
    outline: none;
    
}

.delete-btn{
    border: none;
    outline: none;
    color: white;
    background-color: #e94646;
}
.delete-btn:hover{
    background-color: #b62323;
}

.add-product-btn{
    float: right;
    padding: 3px;
    background-color: #3e7bb1;
    color: white;
    border: none;
    outline: none;
}

.add-product-btn:hover{
    background-color: #155b97;
}