<!-- Cart view section -->
<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4>Login</h4>
                <form action="" class="aa-login-form">
                  <label for="">Username or Email address<span>*</span></label>
                  <input type="text" placeholder="Username or email" #userEmail>
                  <label for="">Password<span>*</span></label>
                  <input type="password" placeholder="Password" #userPassword>
                  <button type="button" class="aa-browse-btn" (click)="authService.SignIn(userEmail.value, userPassword.value)">Login</button>
                  <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Remember me
                  </label>
                  <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="aa-myaccount-register">
                <h4>Register</h4>
                <form action="" class="aa-login-form">
                  <label for="">Username or Email address<span>*</span></label>
                  <input type="text" placeholder="Username or email" #userEmail>
                  <label for="">Password<span>*</span></label>
                  <input type="password" placeholder="Password" #userPassword>
                  <button type="button" class="aa-browse-btn" (click)="authService.SignUp(userEmail.value, userPassword.value)">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Cart view section -->
