<table class="table">
  <thead>
    <tr>
      <th (click)="ghilog()">test</th>
      <th>test</th>
      <th>test</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items | async">
    <tr  *ngIf="!item.delete">
      <td scope="row">{{ item.id }}</td>
      <td><img [src]="item.img" alt=""></td>
      <td><input type="button" (click)="getProductById(item.id)" value="click"><td><input type="button" (click)="deleteProduct(item.id)" value="delete"></td></td>
      
    </tr>
    
  </tbody>
</table>
<form>
    <input type="file" (change) = "uploadFile($event)"  accept=".png, .jpg">

    <div>{{ uploadPercent | async }}</div>
      <a [href]="downloadURL | async" (change)="insertImgLink()">{{ downloadURL | async }}</a>
    <input type="text" [(ngModel)]="product.img" [ngModelOptions]="{standalone: true}" >
    <button (click)="insertImgLink()">link</button>
  <input type="text" [(ngModel)]="product.size" [ngModelOptions]="{standalone: true}">
  <input type="submit" (click)="addProduct()">
</form>

