<!-- <table class="table">
  <thead>
    <tr>
      <th>test</th>
      <th>test</th>
      <th>test</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | async">
      <td scope="row">{{ item.id }}</td>
      <td></td>
      <td></td>
    </tr>
    
  </tbody>
</table> -->
<!-- <form>
  <input type="text" [(ngModel)]="product.size" [ngModelOptions]="{standalone: true}">
  <input type="submit" (click)="addProduct()">
</form> -->

  <input type="file" (change) = "uploadFile($event)"  accept=".png, .jpg">

  <div>{{ uploadPercent | async }}</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
    <input type="text" [value] = "downloadURL | async"  >
    <img [src]="downloadURL | async">