#aa-subscribe {
  display: inline;
  float: left;
  width: 100%;
}
#aa-subscribe .aa-subscribe-area {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  text-align: center;
}
#aa-subscribe .aa-subscribe-area h3 {
  color: #222;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  text-transform: uppercase;
}
#aa-subscribe .aa-subscribe-area p {
  color: #333;
  font-size: 15px;
  letter-spacing: 0.5px;
}
#aa-subscribe .aa-subscribe-area .aa-subscribe-form {
  margin: 20px auto 0;
  position: relative;
  width: 450px;
}
#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  color: #555;
  height: 40px;
  padding: 5px 125px 5px 10px;
  width: 100%;
}
#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
  color: #fff;
  background-color: #ff6666;
  border: 1px solid #ff6666;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 120px;
}

/*==================
FOOTER SECTION
====================*/

#aa-footer {
  background-color: #222;
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  min-height: 100px;
}
#aa-footer .aa-footer-top .aa-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
  display: block;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget h3 {
  color: #fff;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover, #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:focus {
  color: #fff;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p {
  margin-bottom: 5px;
  color: #888;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p span {
  margin-right: 5px;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a {
  border: 1px solid #888;
  color: #888;
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a:hover {
  color: #fff;
  border-color: #fff;
}
#aa-footer .aa-footer-bottom {
  border-top: 1px solid #333;
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p {
  color: #888;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment {
  float: right;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span {
  color: #888;
  margin-left: 8px;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span:hover {
  color: #fff;
}
